<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{developer.first_name}} {{developer.last_name}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/css/line.min.css">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>

        <!--Nav menu-->
        <div class="container">
            <nav id="header">
                <div class="nav-logo">
                    <p class="nav-name"></p>
                </div>
                <div class="nav-menu" id="myNavMenu">
                    <ul class="nav_menu_list">
                        <li class="nav_list">
                            <a href="#home" class="nav-link active-link">Home</a>
                            <div class="circle"></div>
                        </li>
                        <li class="nav_list">
                            <a href="#about" class="nav-link">About</a>
                            <div class="circle"></div>
                        </li>
                        <li class="nav_list">
                            <a href="#contact" class="nav-link">Contact</a>
                            <div class="circle"></div>
                        </li>
                    </ul>
                </div>

                <!--Dark mode-->
                <div class="mode">
                    <div class="moon-sun" id="toggle-switch">
                        <i class="fa fa-moon" id="moon"></i>
                        <i class="fa fa-sun" id="sun"></i>
                    </div>
                    <div class="nav-menu-btn">
                        <i class="uil uil-bars" onclick="myMenuFunction()"></i>
                    </div>
                </div>
            </nav>
            <!--main-->
            <main class="wrapper">
                <section class="featured-box section" id="home">
                    <div class="featured-text">
                        <div class="hello">
                            <h1>Hello I'm</h1>
                            <!-- <p>Web developer</p> -->
                        </div>
                        <div class="featured-name">
                            <span class="typedText">

                            </span>
                        </div>
                        <div class="text-info">
                            <p>My name is Alexandre! I'm a developer specializing in Python and Django.</p>
                        </div>
                        <div class="text-btn">
                            <!-- <button class="btn hire-btn">Hire me</button> -->
                            <a href="{% url 'developer:download_file' %}"><button class="btn">Download CV<i class="uil uil-file"></i></button></a>
                        </div>
                        <div class="social_icons">
                            <div class="icon_circle"></div>
                            {% for contact in contacts %}
                                {% if contact.type_of_contact|lower == "email" %}
                                <a href="mailto: {{ contact.description }}">
                                    <div class="icon"><i class="uil uil-envelope-alt"></i></div>
                                </a>
                                
                                {% elif contact.type_of_contact|lower == "github" %}
                                <a href="{{ contact.description }}" target="_blank">
                                    <div class="icon"><i class="uil uil-github-alt"></i></div>
                                </a>

                                {% elif contact.type_of_contact|lower == "linkedin" %}
                                    <a href="{{ contact.description }}" target="_blank">
                                        <div class="icon"><i class="uil uil-linkedin-alt"></i></div>
                                    </a>
                                {% else %}
                                    <a href="{{ contact.description }}" target="_blank">
                                        <div class="icon"><i class="uil uil-spinner"></i></div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        
                        </div>
                    </div>
                    <div class="featured-image">
                        <div class="image">
                            <img src="{{developer.photo.url}}" alt="my photo">
                        </div>
                    </div>
                </section>
                <!--about box-->
                <section class="section" id="about">
                    <div class="top-header">
                        <h1>About me</h1>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="about-info">
                                <figure class="about-me">
                                    <figcaption>
                                    <img src="{{developer.photo.url}}" alt="my photo" class="profile">
                                    <h2>{{developer.role}}</h2>
                                    <p>{{developer.intro}}</p>
                                </figure>
                                {% for contact in contacts %}
                                    {% if contact.type_of_contact|lower == "email" %}
                                        <a href="mailto: {{ contact.description }}">
                                            <button class="about-me-btn">Hire me</button>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="skill">
                            <div class="skill-box">
                                <ul>
                                    <h1 class="title">Technical skills:</h1>
                                    {% for technical_skill in technical_skills %}
                                        <li><strong>{{technical_skill.name}}</strong>: {{technical_skill.description}}</li>
                                    {% endfor %}
                                </ul>
                                <ul>
                                    <h1 class="title">Soft skills:</h1>
                                    {% for personal_skill in personal_skills %}
                                        <li>{{personal_skill.name}}</li>
                                    {% endfor %}
                                </ul>
                                <ul>
                                    <h1 class="title">Languages:</h1>
                                    {% for language in languages %}
                                        <li>{{language.name}}: {{language.level}}</li>
                                    {% endfor %}
                                </ul>
                                <ul>
                                    <h1 class="title">Interests:</h1>
                                    {% for interest in interests %}
                                        <li>{{interest.name}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="experience">
                            <div class="experience-box">
                                <ul>
                                    <h1 class="title">Professional experience:</h1>
                                    {% for experince_pro in experinces_pro %}
                                        <li><strong>Company</strong>: {{experince_pro.company_name}}</li>
                                        <li><strong>Position</strong>: {{experince_pro.position}} - from {{experince_pro.start_year}} to {{experince_pro.end_year}}</li>
                                        <li><strong>Description</strong>:</li>
                                        <li class="description"><pre>{{experince_pro.description|linebreaksbr}}</pre></li>
                                        <br>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="education">
                            <ul>
                                <h1 class="title">Education:</h1>
                                {% for education in educations %}
                                    <li><strong>University name</strong>: {{education.university_name}}</li>
                                    <li><strong>Diploma</strong>: {{education.diploma_name}} - from {{education.start_year}} to {{education.end_year}}</li>
                                    <li><strong>Description</strong>:</li>
                                    <li class="description"><pre>{{education.description|linebreaksbr}}</pre></li>
                                    <br>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>

                <!--Project box-->
                <!-- <section class="section" id="Projects">
                    <div class="project-box">
                        <i class="uil uil-briefcase-alt"></i>
                        <h3>Completed</h3>
                        <label></label>
                    </div>
                    <div class="project-box">
                        <i class="uil uil-award"></i>
                        <h3>Experience</h3>
                        <label>2 and en python</label>
                    </div>
                </section> -->

                <!--Contact box-->
                <section class="section" id="contact">
                    <div class="top-header">
                        <h1>Let's work</h1>
                        <span>Do you have something in mind</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="contact-info">
                                <h2>Find me <i class="uil uil-corner-right-down"></i></h2>
                                {% for contact in contacts %}
                                    {% if contact.type_of_contact|lower == "email" %}
                                        <p><i class="uil uil-envelope">{{contact.description}}</i></p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-control">
                                <div class="form-inputs">
                                    <input type="text" class="input-field" placeholder="Your name">
                                    <input type="text" class="input-field" placeholder="Your email">
                                </div>
                                <div class="text-area">
                                    <input type="text" class="input-subject" placeholder="Subject">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="form-button">
                                    <button class="btn">Send <i class="uil uil-message"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!--Footer-->
            <footer>
                <div class="middle-footer">
                    <ul class="footer-menu">
                        <li class="footer_menu_list">
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer_menu_list">
                            <a href="#about">About</a>
                        </li>
                        <li class="footer_menu_list">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-social-icons">
                    <div class="icon_circle"></div>
                    <div class="icon"><i class="uil uil-linkedin-alt"></i></div>
                    <div class="icon"><i class="uil uil-github-alt"></i></div>
                    <div class="icon"><i class="uil uil-envelope-alt"></i></div>
                </div>
                <div class="bottom-footer">
                    <p>&copy; 2024 {{developer.first_name}} {{developer.last_name}}</p>
                </div>
            </footer>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.1.0/typed.umd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"></script>
        <script src="{% static 'script.js' %}"></script>
    </body>
</html>